USE [master]
GO
/****** Object:  Database [Pj]    Script Date: 26/4/2022 09:08:13 ******/
CREATE DATABASE [Pj]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Pj', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Pj.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Pj_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Pj_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Pj].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Pj]
GO
/****** Object:  User [Pj]    Script Date: 26/4/2022 09:08:13 ******/
CREATE USER [Pj] FOR LOGIN [Pj] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [alumno]    Script Date: 26/4/2022 09:08:13 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Pj]
GO
/****** Object:  Table [dbo].[Personajes]    Script Date: 26/4/2022 09:08:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personajes](
	[ID] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Imagen] [varchar](50) NULL,
	[Edad] [varchar](50) NULL,
	[Peso] [varchar](50) NULL,
	[Historia] [varchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
